h3 HOME

.row
  .col-xs-12.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
    button.btn#wash(ng-class='{"btn-success": washStatus === "good", "btn-warning": washStatus === "inUse", "btn-danger": washStatus === "done"}'
) {{washStatus}}.
    button.btn#dry(ng-class='{"btn-success": dryStatus === "good", "btn-warning": dryStatus === "inUse", "btn-danger": dryStatus === "done"}'
) {{dryStatus}}.
