h3 {{name | uppercase}}

.row
  .col-xs-4
    form(name='userForm', novalidate)
      .form-group
        label(for='phone') Phone Number
        input.form-control#email(type='tel', name='phone', ng-model='user.phone')
      .form-group
        button.btn.btn-warning(ng-click='oauth("github")'): i.fa.fa-github
  .col-xs-8
